### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
.ropeproject

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# project-dependant
.vscode
.idea
*.log
node_modules
*.pyc
*.db
.cache
__pycache__


volumes
frontend/dist/*
!.gitkeep
backend/venv
