PyJWT==1.5.3
tornado==4.5.2
redis==3.2.0
aiopg==0.13.1
sqlalchemy==1.1.15
psycopg2==2.7.3.2
alembic==0.9.6
apispec==3.1.0
pytest==3.2.5
webargs==5.5.2
passlib==1.7.1
hashids==1.2.0
python-magic==0.4.15
requests==2.18.4
celery==4.1.1
pyssdb==0.4.1
minio==4.0.0
apispec-webframeworks==0.5.2
PyYAML==5.4
